.l-g-table {
	margin-top: 40px;
    border-right: 1px solid rgba(255, 255, 255, .5);
    font-family: "Open Sans", sans-serif;
}
.table.l-g-table tr td {
    border: 0;
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, .7);
    font-weight: 600;
	font-size: 12px;
}
.table.l-g-table th {
	border-bottom: 1px solid rgba(255, 255, 255, .25);
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: rgba(255, 255, 255, .5);
}